<%- include('header') %>
<div style="margin: 25px auto; width: 80%;">
    <h1 class="blog-post-title mb-1">About</h1>
    <p class="blog-post-meta">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error officiis facere esse, 
        voluptatibus incidunt fugit. Ratione incidunt modi recusandae harum dolorem 
        voluptatem illo eum quod quae sunt ex, ut dicta.</p>
</div>
<%- include('footer') %>