<%- include('header') %>
<div style="margin: 25px auto; width: 80%;">
    <h1 class="blog-post-title mb-1">Contact</h1>
    <br>
    <h3 class=class="mb-0">Chris Reed</h3>
    <p class="blog-post-meta"><a href="mailto:sydalcr@gmal.com">Email: sydalcr@gmail.com</a></p>
    <p class="blog-post-meta"><a href="tel:7278109903">Phone: (727) 810-9903</a></p>
</div>
<%- include('footer') %>
